<!DOCTYPE html>
<html>
<head>
  <title>Squishable</title>
  <%= stylesheet_link_tag    "squishable/application" %>
  <%= javascript_include_tag "squishable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
